*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --Mostaza: #e5b51a;
    --Rojo: #e00a0a;
    --Negro: #000000;
    --Blanco: #fffdfd;

}
body{
    text-align: center;
    background-color: var(--Rojo);
    color: var(--Blanco);
}
section{
    height:auto ;
    padding: 30px 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px var(--Negro),
    -5px -5px 15px var(--Negro),
    inset -5px -5px 5px rgb(65, 65, 65),
    inset 5px 5px 5px rgb(65, 65, 65);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--Negro);
    justify-content: center;
    border:  5px solid var(--Mostaza);
}
h1, .footer-title{
    color: var(--Mostaza);
    text-shadow: 3px 3px 9px var(--Negro);
    margin: 0;
    padding: 0;
    font-size: 6rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
h2{
    color: var(--Negro);
    font-size: 2.2rem;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    border-bottom: 2px solid var(--Negro);
    border-top: 2px solid var(--Negro);
    background-color: var(--Mostaza);
}
h3{
    margin: 30px 0 0 0;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 2.5px;
    border-bottom: 3px solid var(--Rojo);
}
div.Card{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    border: .5px solid var(--Mostaza);
    background-color: var(--Negro);
    border-radius: 10px;
    margin: 20px;
}
div.Card:hover{
    box-shadow: 1px 1px 10px var(--Mostaza);
    border: 3px solid var(--Mostaza);
    img:hover{
        opacity: 100%;
        transition: 0.01s;
    }  
}
.Container{
    padding: 16px 2px;
    width: 200px;
}
img{
    opacity: 30%;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 100% ;
    image-rendering: optimizeQuality;
}
footer{
    border-top: 1px solid var(--Mostaza);
    box-shadow: inset 0px 5px 100px var(--Negro);
}
div.footer-title{
    margin: 15PX;
    font-size: 2.5rem;
    /* text-decoration: 1PX underline  var(--Mostaza); */
    border-bottom: 2px solid var(--Mostaza);
}
div.fContainer{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
div.fContainer>div.fItem{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--Blanco);
    margin: 0px 30px;
    padding: 0px 30px;
    border-radius: 5px;
    justify-self: end;
    width: 400px;
}
div.fContainer>div.fItem>.item_Titlle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    color: var(--Blanco);
    text-shadow: 1px 1px 5px var(--Negro);
}
div.fContainer>div.fItem>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 10px;
}
div.fCopyright{
    border-top: 1px solid var(--Blanco);
    height: 40px;
    padding: 10px 10px;
    font-weight: 100;
    color: rgb(224, 224, 224);
}